
@{
    ViewBag.Title = "Add";

}


@model BeyondCode.Models.ViewModel.AddResourceViewListModel


<script src="~/global_assets/js/demo_pages/form_validation.js"></script>
<script src="~/global_assets/js/demo_pages/form_input_groups.js"></script>
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-user-plus"></i> <span class="font-weight-semibold">Add Resource</span></h4>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>


    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a class="breadcrumb-item"><i class="icon-users4 mr-2"></i> Resource</a>
                <a class="breadcrumb-item">Add Resource</a>
            </div>

            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>

    </div>
</div>
<!-- /page header -->

<div class="mb-3">
    <h6 class="mb-0 font-weight-semibold">
    </h6>
</div>

<form id="add-Resource" class="form-validate-jquery" method="post">
    <div class="row">
        <div class="col-lg-6">
            <!-- Form inputs -->
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title">Basic Info</h5>
                </div>
                <div class="card-body">
                    <fieldset class="mb-3">
                        <input type="hidden" id="ResourceLeadId" name="ResourceLeadId" value="">
                        <input type="hidden" id="AgentLeadId" name="AgentLeadId" value="">
                        <div class="form-group row">
                            <label class="col-form-label col-lg-3">Name<span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                <input type="text" id="name" name="Name" class="form-control" value="@Model.ResourceName" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-lg-3">Url<span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                <input type="text" id="Url" name="Url" class="form-control" value="@Model.Url" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-3">UserName<span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                <select class="custom-select" name="UserName" id="username" required>
                                    <option value="">Please Select</option>


                                    @foreach (var user in Model.Users)
                                    {
                                        
                                        <option value="@user.Username" >@user.Username</option>
                                    }




                                    


                                    @*@{
            foreach (var user in Model.Users)
           {
             <option value="@user.Username">@user.Username</option>

            }
        }*@


                                    </h3>


                                </select>
                            </div>
                        </div>





          

                    </fieldset>
                </div>
            </div>
        </div>




    </div>
</form>

<div class="row form-group m-2">
    <div class="col-lg-12">
        <div class="text-right float-right">
            <button type="button" class="btn btn-primary" onclick="AddResource()">Submit <i class="icon-paperplane ml-2"></i></button>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
                var swalInit = swal.mixin({
                    buttonsStyling: false,
                    customClass: {
                        confirmButton: 'btn btn-primary',
                        cancelButton: 'btn btn-light',
                        denyButton: 'btn btn-light',
                        input: 'form-control'
                    }
                });


        function AddResource() {
            var form = $("#add-Resource");
            form.validate();
            if (form.valid()) {
                var formData = $('#add-Resource').serialize();
                $.ajax({
                    @*url: '@Url.Action("Add", "Resource")',*@
                    url: '/Resource/Add',
                    type: 'POST',
                    data:  formData,
                    @*{
                        "Name" = "@Model.ResourceName",
                        "Url" = "@Model.Url",
                        "UserName" = "A00245"
                    },*@
                      
                    success: function (response) {

                        form.trigger('reset');
                        swalInit.fire({
                            title: 'Success!',
                            text: 'Resource added successfully!',
                            icon: 'success'
                        });
                    }
                });

            }

           
        }
    </script>
}


